[*.cs]

# IDE0065: Misplaced using directive
csharp_using_directive_placement = inside_namespace:silent

# SA1649: File name should match first type name
dotnet_diagnostic.SA1649.severity = silent

# CA1822: Mark members as static
dotnet_diagnostic.CA1822.severity = suggestion

# SA1600: Elements should be documented
dotnet_diagnostic.SA1600.severity = silent

# SA1503: Braces should not be omitted
dotnet_diagnostic.SA1503.severity = silent

guidelines = 80, 100
guidelines_style = 1px dashed FF00D2CB